.book-container {
    background-color: #F8F8FF;
}
.book-header {
    background-color: #B0C4DE;
}

.m-t-lg {
  margin-top: 20px;
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.m-l-md {
  margin-left: 15px;
}

.m-l-lg {
  margin-left: 20px;
}

.m-r-xs {
  margin-right: 5px;
}
